<% layout("/layouts/boilerplates.ejs") %>
    <div class="row mt-3">
        <div class="col-6 offset-3">
            <h1>Profile</h1>
            <img class="profile" src="  <%= user.userInfo.img %>" alt="">

        <p> <%= user.name %> <br>
           
            <%= user.username %></p>
        <% if(user.userInfo){ %>
            <%= user.userInfo.firstName +" "+ user.userInfo.firstName %> <br>
            <%= user.userInfo.cybersecurityInterests %> <br>
            <%= user.userInfo.faculty %><br>
            <%= user.userInfo.phoneNumber %><br>
            <%= user.userInfo.studentID %><br>
            <%= user.userInfo.whatsappNumber %><br>
            <%= user.userInfo.yearOfStudy %><br>
           <%}%>
        </div>
        <a href="/profile/edit">edit</a>
    </div>