<% layout("/layouts/boilerplates.ejs") %>
    <style>
        .body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 60rem;
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        form input,
        form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .edis button {
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .edis button:hover {
            background-color: #0056b3;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }

        

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .small-image {
            width: 100px;
            height: auto;
            margin: 5px;
        }

        .image-gallery {
            display: flex;
            flex-wrap: wrap;
        }

        .removeImg {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font: inherit;
            color: inherit;
            cursor: pointer;
            text-align: inherit;
        }
    </style>

    <%if(!event){ %>

        <h1>this post was no longer available</h1>
        <% }else{ %>
            <div class="body">
                <div class="form-container">
                    <h2>Create Event Post</h2>
                    <h2>Current Images</h2>
                    <div class="image-gallery">
                        <% event.image.forEach(function(img) { %>
                            <form class="imgform" action="/event/edit/<%= img._id %>" method="POST">
                                <img src="<%= img.url %>" alt="<%= img.filename %>" class="small-image">
                                <button type="button" class="removeImg"><i class="fa-solid fa-x"></i></button>
                            </form>
                            <% }) %>


                    </div>
                    <form class="edis" action="/event/edit?id=<%= event._id %>" method="POST"
                        enctype="multipart/form-data" data-event-id="<%= event._id %>">
                        <input type="text" name="post[title]" placeholder="Event Title" required
                            value="<%= event.title %>">
                        <textarea name="post[description]" rows="4" placeholder="Event Description"
                            required><%= event.description %></textarea>
                        <input type="text" name="post[location]" placeholder="Event Location" required
                            value="<%= event.location %>">
                        <input type="date" name="post[date]" required
                            value="<%= event.date ? event.date.toISOString().split('T')[0] : '' %>">
                        <input type="file" name="post[image]" accept="image/*" multiple>
                        <button type="submit">Update Event</button>
                    </form>

                    <div class="loader"></div>
                </div>
            </div>
            <%} %>
                <script>

                    const errorMsg = document.querySelector('.e_flassmsg');
                    const seggMsg = document.querySelector('.s_flassmsg');

                    const form = document.querySelector('.edis');
                    const loadingSpinner = document.querySelector('.loader');
                    const eventId = form.getAttribute('data-event-id');

                    form.addEventListener('submit', async (event) => {
                        event.preventDefault();
                        loadingSpinner.style.display = 'block';

                        let fileInput = document.querySelector('input[name="post[image]"]');
                        const files = fileInput.files;

                        if (files.length > 5) {
                            loadingSpinner.style.display = 'none';
                            showMessage(errorMsg, "You can upload a maximum of 5 images.");

                            return;
                        }

                        const formData = new FormData(event.target);

                        try {
                            const response = await fetch(`/event/edit?id=${eventId}`, {  // Use the event ID in the URL
                                method: 'PUT',
                                body: formData,
                            });

                            const result = await response.json();
                            if (response.ok) {
                                fileInput.value = "";  // Clear the input field
                                showMessage(seggMsg, result.message);
                            } else {
                                showMessage(errorMsg, result.message);
                            }
                        } catch (error) {
                            showMessage(errorMsg, result.message);
                        } finally {
                            loadingSpinner.style.display = 'none';
                        }
                    });

                    document.querySelectorAll('.removeImg').forEach(button => {
                        button.addEventListener('click', async (event) => {
                            event.preventDefault();
                            const form = event.target.closest('form');
                            const img = form.querySelector('img');
                            loadingSpinner.style.display = 'block';

                            const imgId = form.action.split('/').pop();


                            try {
                                const response = await fetch(`/event/edit?id=${imgId}`, {
                                    method: 'PATCH',
                                });
                                const result = await response.json();
                                if (response.ok) {
                                    showMessage(seggMsg, result.message);
                                    img.remove();
                                    form.remove();
                                } else {
                                    showMessage(errorMsg, result.message);
                                }
                            } catch (error) {
                                console.error('Error:', error);
                                showMessage(errorMsg, result.message);


                            } finally {
                                loadingSpinner.style.display = 'none';
                            }
                        });
                    });
                    function showMessage(element, message) {
                        element.innerText = message;
                        element.style.display = 'block';
                        setTimeout(() => {
                            element.style.display = 'none';
                        }, 5000);
                    }
                </script>